@import url('https://fonts.googleapis.com/css?family=work+sans:300,600');

:root {
    --bkgnd:rgba(0,214,170,.85);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #222;
    font-family: 'work sans', sans-serif;
    font-weight: 400;
}

.content {
    background-color: var(--bkgnd);
    height: 100vh;
    background-image:url(/assets/images/arizona-1735356_1920.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center; 
}

p { 
    color: white;
    font-weight:bold
}

h1, h2 {
    color: white;
}
